:root {
  --color-foreground-inverse-primary: hsla(0, 0%, 100%, 0.98);
  --color-foreground-inverse-secondary: hsla(0, 0%, 100%, 0.6);
  --color-foreground-inverse-tertiary: hsla(0, 0%, 100%, 0.4);
  --color-foreground-inverse-disabled: hsla(0, 0%, 100%, 0.24);

  --color-background-inverse-primary: hsla(0, 0%, 5%, 1);
  --color-background-inverse-secondary: hsla(0, 0%, 9%, 1);
  --color-background-inverse-tertiary: hsla(0, 0%, 15%, 1);

  --color-bound-inverse: hsla(0, 0%, 98%, 0.24);

  --font-headline: "Lexend", sans-serif;
  --font-body: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: var(--font-body);
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(
    to top,
    hsl(240, 5%, 4%),
    hsl(240, 4%, 12%)
  );
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
a {
  text-decoration: none;
}

/* Design system */
.ds-text-headline {
  font-family: var(--font-headline);
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 120%;
  letter-spacing: -2%;
}
.ds-text-body {
  font-family: var(--font-body);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}

/* Body */
.container {
  display: flex;
  flex-direction: column;
  gap: 128px;
  padding: 24px 0;
}
.about {
  max-width: 320px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  & .logo {
    color: var(--color-foreground-inverse-primary);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    & svg {
      fill: currentColor;
      height: 24px;
    }
    & p:first-of-type {
      margin: 12px 0 8px;
    }
    & p:last-of-type {
      color: var(--color-foreground-inverse-secondary);
    }
  }
  & .contact {
    color: var(--color-foreground-inverse-tertiary);
    display: flex;
    flex-direction: column;
    gap: 12px;
    & p {
      width: fit-content;
    }
    & a {
      color: currentColor;
    }
  }
  & .update {
    color: var(--color-foreground-inverse-disabled);
  }
}
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0 24px;
  & .work-item {
    background-color: var(--color-background-inverse-secondary);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    border-radius: 12px;
    overflow: hidden;
    & .work-header {
      color: var(--color-foreground-inverse-tertiary);
      padding: 16px 24px;
      transition: all 200ms ease;
    }
    & .work-body {
      display: flex;
      flex-direction: column;
      max-height: 0;
      opacity: 0;
      transition: all 400ms ease;
      & .work-text {
        color: var(--color-foreground-inverse-secondary);
        padding: 0 24px;
      }
      & .work-footer {
        display: flex;
        align-items: end;
        & .work-tag_list {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          width: 100%;
          padding: 24px;
          & .work-tag {
            color: var(--color-foreground-inverse-tertiary);
            background-color: var(--color-background-inverse-primary);
            padding: 8px 16px;
            border-radius: 8px;
            font-size: 1.4rem;
            line-height: 100%;
          }
        }
        & .work-link {
          display: flex;
          padding: 24px;
          & svg {
            color: var(--color-foreground-inverse-tertiary);
            height: 24px;
            transition: color 200ms ease;
          }
        }
        & .work-link:hover svg {
          color: var(--color-foreground-inverse-primary);
        }
      }
    }
  }
  & .work-item.is-open {
    box-shadow: 0 4px 20px 0px hsla(0, 0%, 0%, 0.9);
    & .work-header {
      color: var(--color-foreground-inverse-primary);
      padding: 24px 24px 8px;
    }
    & .work-body {
      max-height: 100vh;
      opacity: 1;
      transition: all 700ms ease;
    }
  }
}
